body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ACCDEF;
}
.navbar{
    height: 50px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    border-bottom: 4px solid black;
}

a{
    color: white;
    font-weight: bold;
}
a:hover{
    color : black;
}
.page-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

h1{
    margin-top: 100px;
}