.learnWrapper{
    background-image: linear-gradient( #0f9b0f, #52c234, #52c234, #0f9b0f);
    height: 100%;
    margin-top: 0;
    padding-top: 0;
    display: flex;
    justify-content: center;
}
.learnContainer{
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 1%;
    width: 80%;
}
h1{
    margin-top: 0;
    padding-top: 0; 
}
.pageHeading{
    font-size: 2.5em;
}
.levelHeading1{
    margin: 0;
    padding: 0;
    border-bottom: 3px black solid;
}
.levelHeading2{
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    padding-top: 10px;
}

