.createGardenWrapper{
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: .5%;
  justify-content: center;
  align-content: center;
  margin-left: 1%;
  margin-top: 1%;
  background-color: #5ECC7B;
  overflow: visible;
}
.titleHeading{
  margin-top: 0;
  padding-top: 0;
  text-align: center;
  margin-bottom: 10px;
}
.formWrapper{
  display: flex;
  justify-content: space-evenly;
}
.gardenGenerateForm{
  margin: 0px;
  display: flex; 
}

.gardenSizeInput{
  width: 40px;
  padding: 2px;
  border-radius: 5px;
  margin-right: 15px;
  margin-left: 5px;
  height: 15px;
}
input{
  padding: 2px;
  border-radius: 5px;
  margin-right: 15px;
  margin-left: 5px;
  height: 15px;
}
.gardenFormButtonContainer{
  display: flex;
}

button{
  padding: 2px 5px 4px 5px;
  border-radius: 5px;
  font-weight: 700;
  margin-top: 1px;
  margin-bottom: 1px;
  width: 140px;
  margin-right: 2%;
}
button:hover{
  background-color: #F4F4BA;
  border: 1px solid black;
}
table, th, td {
  border-collapse: collapse;
  border: 1px solid black;
  height: 30px;
  width: 30px;
}

.cell{
  background-color: #F5C489;
  /* background-image: url(./dirt.jpg);
  background-position: center; */
  height: 100px;
  width: 100px;
  margin: 1px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.gardenBox{
  display: flex;
  margin: 10px;
  padding: 10px;
}
.gardenTable{
  width: 100%;
  
}
.rows{
  display: flex;
}
#gardenbox2{
  width: auto;
  display: grid;
  /* grid-template-columns: 75px 75px 75px; */

}

.suggest{
  font-size: 90%;
  color: blue;
  cursor: pointer;
}

.recommend{
  color: green;
  font-size: 13px;
  text-align: center;
}
.recommend:hover{
  font-weight: bold;
  cursor: help;
  font-size: 14px;
}

.notRecommend{
  color: red;
  font-size: 13px;
  text-align: center
}

.notRecommend:hover{
  font-weight: bold;
  cursor: help;
  font-size: 14px;
}
.gardenGridWrapper{
  overflow: visible;
  margin-top: 7px;
  margin-left: 1%;
}




