.gardenGenerateForm{
  margin: 0px;
  display: flex; 
}
.fieldSetNewGarden{
  border: 2px solid green;
  border-radius: 5px;
  margin: 0px;
  
}
.gardenSizeInput{
  width: 40px;
  padding: 2px;
  border-radius: 5px;
  margin-right: 15px;
}
button{
  padding: 2px 10px 2px 10px;
  border-radius: 5px;
  font-weight: 700;
  margin-top: 10px;
  margin-left: 20%;
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid black;
  height: 30px;
  width: 30px;
}

.cell{
  background-color: #F5C489;
  /* background-image: url(./dirt.jpg);
  background-position: center; */
  height: 100px;
  width: 100px;
  margin: 1px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.gardenBox{
  display: flex;
  margin: 10px;
  padding: 10px;
}
.gardenTable{
  width: 100%;
  
}
.rows{
  display: flex;
}
#gardenbox2{
  width: auto;
  display: grid;
  /* grid-template-columns: 75px 75px 75px; */

}

.suggest{
  font-size: 90%;
  color: blue;
  cursor: pointer;
}

.recommend{
  color: green;
  font-size: 13px;
  text-align: center;
}
.recommend:hover{
  font-weight: bold;
  cursor: help;
  font-size: 14px;
}

.notRecommend{
  color: red;
  font-size: 13px;
  text-align: center
}

.notRecommend:hover{
  font-weight: bold;
  cursor: help;
  font-size: 14px;
}





