*{
    background-color: #E88F00;
    font-family: fantasy;
}
.pageWrapper{
    margin-left: 10%;
    margin-right: 10%;
}
.enemy {
    border: #FFFF00 dashed 5px;
    height: 220px;
    width: auto;
    margin: 10px;
    box-shadow: 15px 15px 15px;
    background-color: #00F3FF;
    margin: 30px;

}
h1 {
    position: absolute;
    margin-left: 40%;
    font-size: 3em;
    color: #1B0FFF;
    text-shadow: black 20px 15px 10px;

}
h2 {
    background-color: #00F3FF;
    margin-left: 50px;
    text-decoration: underline;
    font-weight: bolder;
    color: #1B0FFF;
    
}
h3 {
    position: absolute;
    margin-top: 100px;
    margin-left: 30%;
    font-size: 2em;
    color: #1B0FFF;
    text-shadow: black 20px 15px 10px;

}
img {
    background-color: #00F3FF;
    float: left;
}

h1 {
    position: absolute;
}
#goombaimg {
    width: 5%;
    position: relative;
    left: 0px;
    margin-left: 70px;
    
}
#goombaDiv {
    margin-top: 150px;
}
#bomimg {
    width: 15%;
    height: 40%;
    position: relative;
    left: 0px;
}
#cheepimg {
    width: 6%;
    position: relative;
    left: 10px;
    margin-left: 50px;
}
p1{
    display: inline;
    position: relative;
    left: 0;
    top: 20px;
    background-color: #00F3FF;
    font-size: 1.2em;
    font-weight: bold;
    color: #1B0FFF;
    
}
p {
    background-color: #00F3FF;
    color: #E8050E;
    font-weight: bold;
    display: inline-block;
    position: relative;
    left: 50px;
    font-size: 1.2em;
}
#pgoomba{
    margin-left: 280px;
}
#pbom{
    margin-left: 200px;
}
#pcheep{
    margin-left: 270px;
    
}
input {
    background-color: #FFFF00;
    border: 2px solid black;
    margin-left: 0px;
    padding: 5px;
    position: relative;
    left: 10px;
    top: 15px;

}
input[type = 'number'] {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
}

button{
    background-color: aliceblue;
    font-size: 1.2em;
    border: #E8050E solid 3px;
    position: relative;
    left: 550px;
    top: 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 8px;
}
#result{
    background-color: #00F3FF;
    color: #E8050E;
    font-weight: bolder;
    font-size: 1.5em;
}

#marioimg {
    width: 7%;
    background-color: #E88F00;
    position: absolute;
    animation: walk 7s infinite linear,
               jump 7s infinite linear;
    margin-top: 50px;
   
}
.coinGif{
    width: 4%;
    padding-left: 50px;
    
}

@keyframes walk {
    from {transform: translateX(-150px)}
    to {transform: translateX(1900px)}
}

@keyframes jump {
    0% {top: 0px}
    25% {top: 0px}
    36% {top: -140px}
    65% {top: -140px}
    78% {top: 0px}
    100% {top: 0px}

}
